@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    font-family: "Nunito Sans";
}
:root{
    --white:#ffffff;
    --dark:#10151c;
    --primary:#ff414d;
    --gray:#b8b9bb;
    --skyground:#f0f4f7;
}
a{
    text-decoration: none;

}


html.sr .text-reveal {
    visibility: hidden;
    
}
.container{
    overflow: hidden !important;
}
.nav{
    position: fixed;
    top: 0px ;
    right: 0px ;
    width: 100%;
    padding: 10px 0px ;
    background-color: transparent;
    z-index: 99;
    transition: 500ms;
    color: var(--white);
}
.navbar-brand{
    display: flex;
}

.navbar-brand .brand-name h1{
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 700;
    font-size: 31px;
    color: var(--white);
}


.navbar-brand .brand-name p{
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
}
.nav-link{
    display: block;
    padding: 1.2rem 25px !important;
    text-transform: uppercase;
    font-size: 13px ;
    font-weight: 700 !important;
    letter-spacing: 2px ;
    transition: 300ms; 
    color: var(--gray);
}
.nav-link:hover{
    color: red !important; 
    letter-spacing: 3px ;
}
.active{
    color: var(--white) !important;
}
.add-listing-btn{
    background-color: var(--primary);
    color: var(--white);
    font-size: 12px;
    padding: 10px 20px ;
}

.add-listing-btn:hover {
border-color:var(--primary) ;
color: var(--primary);
}

.lorem-text{
    color: var(--gray);
}


.nav-scroll{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 16px 16px ;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.nav-scroll:hover{
    background: rgba(0, 0, 0, 0.7);
}

